# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/
.env/

# Docker files
Dockerfile
docker-compose.yml

# Git
.git/
.gitignore

# Logs
*.log

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

# Other unnecessary files
*.egg-info/
dist/
build/
